// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    background-color: #1e2d3b;
}

// COMMON
.container {
    width: 80%;
    margin: 0 auto;
}